@import "tailwindcss";
@source "../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sharp-sans: var(--font-sharp-sans);
  --font-samsung-one: var(--font-samsung-one);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-samsung-one), Arial, Helvetica, sans-serif;
}
